@model Contellect_Task.DTOs.LoginModel;
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger">@ViewBag.Message</div>
}

<form asp-action="Index" method="post">
    <div class="form-group">
        <label asp-for="Username">Username</label>
        <input asp-for="Username" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Login</button>
</form>
